.mainSideBar{
    width: 5%;
    position: relative;
    height: 100vh;
    z-index: 999;
}
#openBar{
    width: 25%;
}
#closeBar{
    width: 5%;
}
#openBox{
    width: 20%;
}
#closeBox{
    width: 5%;
}
.innerSideBar{
    border-right: 1px solid lightgray;
    height: 100vh;
    position: fixed;
    background: white;
    width: 5%;
    z-index: 999;
}
.sidebarScrollBox{
    padding-left: 10px;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}
.sidebarScrollBox::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
.sidebarScrollBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(226, 223, 223, 0.24);
}
.createmembermodal svg.formClsoeIco{
    position: absolute;
    right: 10px;
    top: 20px;
}
.mainSideBar .sidebarScrollBox .logoBox img{
    display: block;
    height: 120px;
    margin: 20px auto;
}
.mainSideBar .sidebarScrollBox .logoBox svg{
    position: absolute;
    right: 0;
    top: 11px;
    font-size: 27px;
    border: 2px solid #f1f1f1;
    padding: 3px 6px;
    border-radius: 50px;
}

.toggleLogo{
    height: 30px !important;
}
.sidebarScrollBox .sidebarHead{
    margin-top: 5px;
    color: #CCD3E3;
}
.sidebarScrollBox a{
    display: flex;
    align-items: center;
    margin-top: 4px;
    padding: 7px;
    color: #464e5f;
}
.SideNav{
    margin-top: 30px;
}
.sidebarScrollBox svg{
    margin-right: 10px;
    font-size: 24px;
}
.sidebarScrollBox span{
    font-size: 15px;
    font-weight: 800;
}
.SideNav .active{
    color: #1565D8;
}
.sideclose{
    display: none;
}

@media screen and (max-width:992px) {
    #closeBox {
        width: 0 !important;
    }
    .mainSideBar {
        width: 0 !important;
    }
    .toggleLogo{
        display: none !important;
    }
    #openBox {
        width: 250px;
    }
}
