.mainSideBar{
    width: 5%;
    position: relative;
    height: 100vh;
    z-index: 999;
}
#openBar{
    width: 25%;
}
#closeBar{
    width: 5%;
}
#openBox{
    width: 20%;
}
#closeBox{
    width: 5%;
}
.innerSideBar{
    border-right: 1px solid lightgray;
    height: 100vh;
    position: fixed;
    background: white;
    width: 5%;
    z-index: 999;
}
.sidebarScrollBox{
    padding-left: 10px;
}
.mainSideBar .sidebarScrollBox .logoBox img{
     display: block;
    height: 70px;
    margin: 20px auto;
}

.toggleLogo{
height: 30px !important;
}
.sidebarScrollBox .sidebarHead{
    margin-top: 5px;
    color: #CCD3E3;
}
.DashboardIco{
    color: blue !important;
}
.sidebarScrollBox a{
    display: flex;
    align-items: center;
    margin-top: 4px;
    padding: 7px;
    color: #464e5f;
}
.SideNav{
    margin-top: 30px;
}
.sidebarScrollBox svg{
    margin-right: 10px;
    font-size: 20px;
}
.sidebarScrollBox span{
    font-size: 15px;
    font-weight: 800;
}

.sideclose{
    display: none;
}

@media screen and (max-width:992px) {
    .mainSideBar{
        width: 0;
    }
    #openBar {
        width: 35%;
    }
}
@media screen and (max-width:768px) {
    
    #openBar {
        width: 47%;
    }
}
@media screen and (max-width:600px) {

    #openBar {
    width: 32%;
    position: absolute;
    z-index: 99;
    }
    .sidebarScrollBox span {
        font-size: 13px;
    }
    .sideclose{
        width: 25px;
        height: 25px;
        font-size: 15px !important;
        display: block;
        padding: 1px;
        position: absolute;
        right: 2px;
        top: 3px;
        display: flex;
        justify-content: center;
        border: 1px solid lightgray;
        border-radius: 50%;
        background: #3E97FF;
        color: white;
    }
}