.topBar {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    background: white;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 99;
}

.topBar .leftSide {
    width: 50%;
    display: flex;
    align-items: center;

}

.topBar .leftSide img {
    height: 25px;
}

.topBar .leftSide .pageHead {
    margin-left: 20px;
}

.topBar .leftSide .pageHead h5 {
    margin: 0;
    font-size: 15px;
    font-weight: 900;
}

.topBar .leftSide .bread-crum a {
    color: #CCD3E3;
    font-size: 12px;
}

.topBar .leftSide .bread-crum a:nth-child(1) {
    margin-right: 10px;
}

.topBar .rightSide {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.topBar .rightSide svg {
    margin: 0 10px;
}

.topBar .rightSide img {
    height: 30px;
    margin: 0 10px;
}

.InnerTopbar {
    /* height: 56px; */
    margin: 0px 0px !important;
    background: #FFFFFF;
    position: fixed;
    width: -webkit-fill-available;
    padding: 10px;
    top: 53px;
    z-index: 99;

}

.innerRightSide {
    display: flex;
    justify-content: end;
    align-items: center;
}

.innerLeftSide {
    display: flex;
    align-items: center;
}

.innerRightSide button {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 5px 15px;
    margin: 0px 5px;
    border: 1px solid #f1f1f1;
    font-size: 14px;
    color: #000000;
}

.innerLeftSide button {
    background: #FFFFFF;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    padding: 5px 15px;
    margin: 0px 5px;
    font-size: 14px;
    color: #000000;
}

.CreateJobbtn {
    background: #3E97FF !important;
    color: white !important;
}

.bulkBtn {}

.innerRightSide button img {
    height: 15px;
    margin-right: 5px;
}

.innerLeftSide button img {
    height: 15px;
    margin-right: 5px;
}

.innerLeftSide span {
    border: 1px solid #f1f1f1;
    padding: 0 6px;
    border-radius: 5px;
}

.innerLeftSide span img {
    height: 15px;
}

.searchInnerTopBar {
    position: relative;
}

.searchInnerTopBar input {
    border: 1px solid lightgray;
    padding-left: 25px;
}

.searchInnerTopBar input::placeholder {
    font-size: 14px;
}

.searchInnerTopBar svg {
    position: absolute;
    left: 5px;
    top: 8px;
    font-size: 12px;
}



@media screen and (max-width:490px) {
    .topBar .leftSide .pageHead h5 {
        font-size: 10px;
    }

    .topBar .leftSide .bread-crum a {
        font-size: 8px;
    }
        .topBar .leftSide img {
            height: 20px;
        }
                .topBar .rightSide img {
                    height: 22px;
                }
}
@media screen and (max-width:370px) {
    .topBar .leftSide .pageHead h5 {
        font-size: 8px;
    }

    .topBar .leftSide .bread-crum a {
        font-size: 6px;
    }
        .topBar .leftSide img {
            height: 16px;
        }
}

@media screen and (max-width:768px) {
    .InnerTopbar{
        /* height: 86px; */
        /* padding: 10px; */
    }
        .innerLeftSide{
            justify-content: center;
            flex-wrap: wrap;
        }
        .innerRightSide{
            flex-wrap: wrap;
            justify-content: center;
        }
}