.addjobmodal{
    position: fixed;
    background: rgba(0, 0, 0, 0.397);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-Content: center;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
}

.addjobmodal h4{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}

.addjobmodal .addjobmodalInnerBox{
    background: white;
    width: 50%;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
}
.addjobmodal .ScrollBar{
    height: 350px;
    overflow-y: scroll;
    padding-bottom: 20px;
}
.addjobmodal .ScrollBar::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
.addjobmodal .ScrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(226, 223, 223, 0.24);
}
.addjobmodal svg.Iconclose{
    position: absolute;
    right: 10px;
    top: 20px;
}
.addjobmodal .addjobmodalInnerBox .formAlign{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.addjobmodal .formAlign .form-group{
    width: 47%;
}
.addjobmodal.formAlign .form-group label > span{
    color: red;
}
.addjobmodal button{
    margin: 15px auto;
    display: block;
    color: white;
    padding: 7px 50px;
    border-radius: 7px;
}

@media screen and (max-width:992px){
    .addjobmodal .addjobmodalInnerBox{
        width: 80%;
    }
}
@media screen and (max-width:480px){
    .addjobmodal .addjobmodalInnerBox{
        width: 95%;
    }
}

@media screen and (max-width:320px){
    .addjobmodal .addjobmodalInnerBox .formAlign {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 15px;
    }
    .addjobmodal .formAlign .form-group {
        width: 100%;
    }
}

