.clientstypemodal {
    background: rgba(0, 0, 0, 0.397);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.clientstypemodal .clientstypeinnermodal{
    width: 50%;
    background: white;
    position: relative;
    padding: 50px 50px;
    border-radius: 10px;
}
.clientstypemodal .clientstypeinnermodal h4.head{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.clientstypemodal .clientstypeinnermodal .ClientcloseIcon{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
}
.clientstypemodal .clientstypeinnermodal .PersonalClients{
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px 10px;
    border-radius: 5px;
    border: 2px dashed #707070;
    position: relative;
    cursor: pointer;
}
.clientstypemodal .clientstypeinnermodal .PersonalClients:hover{
    border: 2px dashed #3E97FF;
    background: #F1FAFF;
    cursor: pointer;
}
.clientstypemodal .clientstypeinnermodal .PersonalClients img{
    height: 29px;
    margin-right: 20px;
}
.clientstypemodal .clientstypeinnermodal .PersonalClients input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87px;
    opacity: 0;
}
.clientstypemodal  .PersonalClients span{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.clientstypemodal  .PersonalClients span h5{
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
.clientstypemodal  .PersonalClients span p{
    padding: 0;
    margin: 0;
    font-size: 13px;
    margin-top: 3px;
    text-align: center;
}
.clientstypemodal .clientstypeinnermodal button{
    background: #3E97FF;
    border-radius: 6px;
    margin: auto;
    display: block;
    padding: 10px 50px;
    color: white;
    font-weight: 500;
    margin-top: 80px !important;
    font-size: 20px;
}

@media screen and (max-width:992px){
    .clientstypemodal .clientstypeinnermodal {
        width: 70%;
    }
}

@media screen and (max-width:575px){
    .clientstypemodal .clientstypeinnermodal {
        padding: 30px 10px;
    }
    .clientstypemodal .clientstypeinnermodal .PersonalClients {
        flex-direction: column;
        margin: 13px 0 !important;
        padding: 10px 0px;
    }
    .clientstypemodal .clientstypeinnermodal .PersonalClients img {
        margin-right: 0;
    }
    .clientstypemodal .PersonalClients span{
        align-items: center;
    }
    .clientstypemodal .PersonalClients span h5 {
        margin-top: 5px;
    }
    .clientstypemodal .clientstypeinnermodal button {
        margin-top: 20px !important;
    }
}
@media screen and (max-width:420px){
    .clientstypemodal .clientstypeinnermodal {
        width: 95%;
    }
}