.JobMain {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2px #0000000A;
    border: 1px solid #F1F1F2;
    border-radius: 9px;
    opacity: 1;
    padding: 10px;
    overflow-x: scroll;
}
.JobMain::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
}
.JobMain::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(128, 125, 125);
}

.Jobtabletext {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 1;
    white-space: pre;
}
.Jobtable table thead tr th{
    background: #FAFAFA;
}
.Jobtable table tr td{
    padding: 18px 9px;
}
.Jobtext {
    display: flex;
}

.JobICo{
    background: #F2F3F7 ;
    margin: 0px 5px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px 6px;
}
.JobICo svg{
    font-size: 20px;
}

.Jobeditico {
    color: #3366cc;
}

.Jobeyeico {
    color: #33cc47;
}

.Jobdeteleico {
    color: #cc3333;
}

.jobtext {
    font-size: 14px;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0px;
    white-space: pre;
}

.JobtotalPage {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    opacity: 1;
    width: 92px;
    height: 31px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    padding: 5px;
}

.JobpagesICo {
    font-size: 14px !important;
    color: #D9D9D9;
    width: 25px;
    height: 31px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    opacity: 1;
}

.Jobpageno {
    width: 20px;
    height: 31px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;

}

.Jobpagenodot {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}

.Jobpagination {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap !important;
}

.Jobpgnos {
    margin: 0px 5px;
}

.JobPaginationRow {
    display: flex !important;
    flex-wrap: wrap !important;
}

.Processtext{
    background: #F1FAFF 0% 0% no-repeat padding-box;
}

@media screen and (max-width:420px) {
    .JobpagesICo {
        width: 18px;
        height: 24px;
    }

    .Jobpageno{
        font-size: 10px;
        width: 18px;
        height: 24px;
    }

    .Jobpagination span {
        font-size: 10px;
    }

    .JobtotalPage {
        width: 70px;
        height: 24px;
        font-size: 10px;
    }
}