.JpParentContainer {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 2px #0000000A;
    border: 1px solid #F1F1F2;
    border-radius: 9px;
    opacity: 1;
    height: 400px;
    padding: 3px;

}

.JpTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 0.5px solid #F1F1F2;
    opacity: 1;
    margin: 0px;
}

.JpTop span {
    margin-top: 10px;
}

.JpTop span .Head {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0px;
}

.JpTop span p {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
    margin: 0px;
}

.JpTop span p b {
    color: blue;
}

.JpTableImg {
    width: 40px;
    height: 40px;
}

.JpTableHead {
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

.JpTablepara {
    font-size: 10px;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
}

.jptbletext{
    font-size: 12px;
    letter-spacing: 0px;
    color: #A1A1A1 !important;
    opacity: 1;
    margin: 0px;
}

.jptr{
    border-bottom: 0.5px dotted #F1F1F2;
    opacity: 1;
}

.JpTableText {
    margin: 0px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    /* text-align: center; */
}

.JpBottom {
    padding: 5px;

}

.JpTableIcon {
    color: #B9C2D9;
    opacity: 1;
}

.JpLower {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.JpLowerPara {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
}

.Pagination {
    display: flex;
}

.Pagination span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
    margin: 0px 5px;
    width: 25px;
    height: 25px;
}

.TableTextHighlighted {
    background: #F1FAFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-size: 12px;
    letter-spacing: 0px;
    color: #000000;
    margin: 0px;
    opacity: 1;
    text-align: center;
}


@media screen and (max-width:450px) {
    .JpBottom{
        overflow-y: hidden;
        overflow-x: scroll;
    }
    
    .JpBottom::-webkit-scrollbar {
        width: 2px;
    }
    
    /* Track */
    .JpBottom::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* Handle */
    .JpBottom::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
.JpBottom::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.JpTableText{
    font-size: 8px !important;
}

}


@media screen and (max-width:350px) {
.JpParentContainer{
    height: 450px;
}
}