.clientinfotabletext {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 1;
}
.CITICOtext{
    display: flex;
}
.CITICo {
    background: #F2F3F7 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
        display: flex;
        align-items: center;

}

.editico{
    color: #3366cc;
}

.eyeico{
    color: #33cc47;
}

.deteleico{
    color: #cc3333;
}